.background-primary {
    -fx-background-color: primary;
    -fx-text-fill: primary-comp;
}

.scroll-pane {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.background-secondary {
    -fx-background-color: secondary;
    -fx-text-fill: secondary-comp;
    -fx-background-radius: 15;
}

.background-secondary Label{
    -fx-text-fill: secondary-comp;
}

.background-secondary Text{
    -fx-fill: secondary-comp;
}

.background-secondary .line-chart{
    -fx-background-color: transparent;
}

.background-secondary .text-medium{
    -fx-font-size: 18px;
}

.background-secondary .text-large{
    -fx-font-size: 40px;
}


.background-secondary-inv {
    -fx-background-color: secondary-comp;
    -fx-text-fill: secondary;
}


.text-secondary {
    -fx-fill: secondary-comp;
    -fx-text-fill: secondary-comp;
}

.border-primary {
    -fx-border-color: primary;
}

.border-secondary {
    -fx-border-color: primary-comp;
}

.textbox {
    -fx-background-color: transparent;
    -fx-border-color: primary;
    -fx-border-width: 0px 0px 2px 0px;
}

.button-primary {
    -fx-background-color: secondary;
    -fx-border-radius: 30;
    -fx-text-fill: secondary-comp;
}

.button-secondary {
    -fx-background-color: complementary-colour;
    -fx-text-fill: primary-comp;
    -fx-border-radius: 30;
}

.navbar-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.hyperlink {
    -fx-background-color: transparent;
    -fx-text-fill: highlight-colour;
}

.header {
    -fx-text-fill: primary-comp;
}

.background-login {
    -fx-background-color: colour-2;
    -fx-text-fill: primary-comp;
}

/* Forecast styles */
.forecast-day Label {
    -fx-text-fill: primary;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.chart {
    -fx-background-color: primary;
    -fx-font-size: 20;
    -fx-text-fill: primary-comp;
    -fx-legend-visible: false;
}

.axis-label {
    -fx-text-fill: primary-comp;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.default-color0.chart-series-line { -fx-stroke: #ed4d51; }
.default-color1.chart-series-line { -fx-stroke: #e5d849; }
.default-color2.chart-series-line { -fx-stroke: #238591; }


.forecast-day {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.date-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.max-temp-label {
    -fx-text-fill: #e74c3c;
}

.min-temp-label {
    -fx-text-fill: #3498db;
}

.precipitation-label, .wind-speed-label {
    -fx-font-size: 12px;
}

.location-selector-popup {
}