.root {
    primary: #31343b;
    primary-comp: #ffffff;
    secondary: #23272c;
    secondary-comp: #ffffff;
    complementary-colour: #6a707a;
    highlight-colour: #6546e8;
    colour-1: #6555ab;
}
